/* Colors */
/* Font sizes */
/* Fonts */
/* massages */
.flex-center, .topbar .topbar-list .topbar--item, .topbar .topbar-list .topbar--item .wallet, .topbar .topbar-list .topbar--item .wallet .money, .topbar .topbar-list .topbar--item .notification, .topbar .topbar-list .topbar--item .profile, .topbar .topbar-list .topbar--item .quit, .content .content-general .content-general__date {
  display: flex;
  align-items: center;
}

.border-left-edge, .topbar .topbar-list .topbar--item .wallet, .topbar .topbar-list .topbar--item .notification, .topbar .topbar-list .topbar--item .profile, .topbar .topbar-list .topbar--item .quit {
  border-left: 2px solid #F2F2F2;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
  font-family: "Open Sans", Helvetica, Arial;
}

.sidebar {
  height: 100%;
  width: 180px;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: fixed;
  top: 0;
}

.sidebar .sidebar-menu {
  background-color: #000000;
  width: 180px;
  height: 50px;
}

.sidebar .sidebar-menu .img_logo {
  width: 135px;
  height: 50px;
}

.sidebar .sidebar-menu a .hamburger-menu {
  width: 30px;
  height: 30px;
  background-color: #808080;
  margin: 0;
  position: relative;
  top: -45px;
  left: 140px;
}

.sidebar .sidebar-menu a .hamburger-menu:hover {
  background-color: #fff;
}

.sidebar .sidebar-menu a .hamburger-menu .img_hamburger {
  height: 30px;
  width: 40px;
  position: relative;
  left: 0;
}

.sidebar .sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-nav ul .sidebar-link {
  background-color: #000000;
  width: 100%;
  text-align: left;
  border-left: 5px solid #000000;
}

.sidebar .sidebar-nav ul .sidebar-link a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial;
  color: #808080;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  padding-left: 15px;
  vertical-align: baseline;
}

.sidebar .sidebar-nav ul .sidebar-link a #icon-general {
  fill: #808080;
  width: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: baseline;
}

.sidebar .sidebar-nav ul .sidebar-link:hover {
  opacity: 0.8;
  border-left: 5px solid #ffa200;
}

.sidebar .sidebar-nav ul .sidebar-link:hover a {
  color: #fff;
}

.sidebar .sidebar-nav ul .sidebar-link:hover a #icon-general {
  fill: #fff;
}

.sidebar .sidebar-nav ul .sidebar-link_end {
  height: 25px;
  background-color: #000000;
}

.sidebar .sidebar-manager__info {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial;
  background-color: #000000;
  margin: 0;
  border-top: 1px solid #808080;
}

.sidebar .sidebar-manager__info .manager__header {
  color: #808080;
  font-size: 14px;
  padding: 20px;
}

.sidebar .sidebar-manager__info .manager__status {
  padding: 5px;
  line-height: 60px;
  text-align: center;
  position: relative;
}

.sidebar .sidebar-manager__info .manager__status img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
}

.sidebar .sidebar-manager__info .manager__status a {
  text-decoration: none;
  color: #56819f;
  position: relative;
  bottom: 15px;
  padding: 5px;
}

.sidebar .sidebar-manager__info .manager__status a:hover {
  color: #ffa200;
}

.sidebar .sidebar-manager__info .manager__status .manager__online {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: #16dd44;
  position: absolute;
  top: 5px;
  left: 50px;
}

.topbar {
  height: 50px;
  width: 100%;
  background-color: #fff;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial;
  color: #808080;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
}

.topbar .topbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.topbar .topbar-list .topbar--item {
  margin: 0;
  padding: 0;
  height: 50px;
}

.topbar .topbar-list .topbar--item .wallet {
  width: 160px;
  height: 50px;
  padding: 0 10px;
}

.topbar .topbar-list .topbar--item .wallet .money {
  font-size: 0.9em;
  font-weight: bold;
  width: auto;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px;
}

.topbar .topbar-list .topbar--item .wallet #icon-wallet {
  fill: #808080;
  width: 20px;
}

.topbar .topbar-list .topbar--item .wallet #icon-arrow-down-sm {
  fill: #808080;
  width: 15px;
}

.topbar .topbar-list .topbar--item .notification {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  position: relative;
}

.topbar .topbar-list .topbar--item .notification .notification_alarm {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #ffa200;
  position: absolute;
  top: 14px;
  left: 22px;
}

.topbar .topbar-list .topbar--item .notification #icon-notification {
  fill: #808080;
  width: 20px;
}

.topbar .topbar-list .topbar--item .profile {
  max-width: 180px;
  height: 50px;
  padding: 0 10px;
}

.topbar .topbar-list .topbar--item .profile #icon-profile {
  fill: #808080;
  width: 20px;
}

.topbar .topbar-list .topbar--item .profile a {
  text-decoration: none;
  font-size: 14px;
  width: 130px;
  color: #56819f;
  padding: 0 5px;
}

.topbar .topbar-list .topbar--item .profile a:hover {
  color: #ffa200;
}

.topbar .topbar-list .topbar--item .quit {
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

.topbar .topbar-list .topbar--item .quit #icon-quit {
  fill: #808080;
  width: 20px;
}

.topbar .topbar-list .topbar--item .quit #icon-quit:hover {
  fill: #ffa200;
}

.content {
  display: block;
  margin: 50px 0 0 180px;
  padding: 20px;
  background-color: #f5f5f5;
}

.content .content-general {
  background-color: #ffffff;
  width: 100%;
}

.content .content-general .content-general__header h1 {
  color: #808080;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  margin: 0;
}

.content .content-general .content-general__date {
  display: flex;
  border: 1px solid #F2F2F2;
  height: 50px;
  margin: 0 auto;
  padding: 50px 25%;
  background-color: #ffffff;
  width: 100%;
}

.content .content-general .content-general__date form {
  display: flex;
  padding: 10px 10px 10px 0;
  border: 1px solid #F2F2F2;
  align-content: center;
}

.content .content-general .content-general__date form input {
  border: none;
  margin: 0;
  width: 50%;
  padding-left: 20px;
  height: 30px;
  font-size: 16px;
}

.content .content-general .content-general__date form input:nth-of-type(2) {
  border-left: 1px solid #F2F2F2;
}

.content .content-general .content-general__date form #icon_date {
  width: 30px;
  height: 30px;
  fill: #808080;
}

.content .content-general .content-general__date .button-refresh {
  width: 40px;
  height: 40px;
  background-color: #f58220;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 15px;
}

.content .content-general .content-general__date .button-refresh:hover {
  opacity: 0.7;
}

.content .content-general .content-general__date .button-refresh #icon-refresh {
  fill: #F2F2F2;
  width: 25px;
}

.content .content-general .content-wrapper {
  padding: 25px;
  width: 100%;
}

.content .content-general .content-wrapper .content-general__table {
  padding: 50px 20%;
}

.content .content-general .content-wrapper .content-general__table table {
  table-layout: fixed;
  width: 100%;
  cellpadding: 20px;
}

.content .content-general .content-wrapper .content-general__table table th {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

.content .content-general .content-wrapper .content-general__table table .counter {
  width: 100%;
  height: 50px;
}

.content .content-general .content-wrapper .content-general__table table .counter .visit-deposit__label {
  text-align: left;
}

.content .content-general .content-wrapper .content-general__table table .counter .brake {
  border: none;
}

.content .content-general .content-wrapper .content-general__table table .counter .visit-deposit__number {
  text-align: center;
}

.content .content-general .content-wrapper .content-general__table table .counter .ftd-to__label {
  text-align: left;
}

.content .content-general .content-wrapper .content-general__table table .counter .ftd-to__number {
  text-align: center;
}

.content .content-general .content-wrapper .content-general__chart {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

.content .content-general .content-wrapper .content-general__chart img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */