/* Colors */
/* Font sizes */
/* Fonts */
/* massages */
.flex-center, #sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .wallet2, #sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .wallet2 .money2, #sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2, .topbar-content_wrapper .topbar .topbar-list .topbar--item, .topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet, .topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet .money, .topbar-content_wrapper .topbar .topbar-list .topbar--item .notification, .topbar-content_wrapper .topbar .topbar-list .topbar--item .profile, .topbar-content_wrapper .topbar .topbar-list .topbar--item .quit, .topbar-content_wrapper .content .content-general .content-general__date, .topbar-content_wrapper .content .content-general .content-general__date form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-left-edge, .topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet, .topbar-content_wrapper .topbar .topbar-list .topbar--item .notification, .topbar-content_wrapper .topbar .topbar-list .topbar--item .profile, .topbar-content_wrapper .topbar .topbar-list .topbar--item .quit {
  border-left: 1px solid #dddddd;
}

.col-sm-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-sm-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-sm-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-sm-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-sm-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #dddddd;
  font-family: "Open Sans", Helvetica, Arial;
  position: relative;
}

.home li.home {
  background-color: #555555;
  height: 50px;
  margin: 0;
  width: 195px;
  opacity: 0.8;
  z-index: 6;
  color: #ffffff;
}

.home li.home:before {
  content: "";
  position: absolute;
  background-color: #ffa200;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
}

#sidebar_hide.sidebar {
  height: 100vh;
  width: 200px;
  padding: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
}

#sidebar_hide.sidebar .sidebar-menu {
  background-color: #000000;
  width: 200px;
  height: 50px;
}

#sidebar_hide.sidebar .sidebar-menu .img_logo {
  width: 155px;
  height: 50px;
}

#sidebar_hide.sidebar .sidebar-menu a .hamburger-menu {
  width: 30px;
  height: 30px;
  background-color: #9f9f9f;
  margin: 0;
  position: relative;
  top: -45px;
  left: 160px;
}

#sidebar_hide.sidebar .sidebar-menu a .hamburger-menu:hover {
  background-color: #ffffff;
}

#sidebar_hide.sidebar .sidebar-menu a .hamburger-menu .img_hamburger {
  height: 30px;
  width: 40px;
  position: relative;
  left: 0;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link {
  background-color: #000000;
  width: 100%;
  text-align: left;
  padding-left: 30px;
  position: relative;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial;
  color: #9f9f9f;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  padding-right: 20px;
  width: 100%;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link a #icon-general {
  fill: #9f9f9f;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link:hover {
  opacity: 0.8;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link:hover a {
  color: #ffffff;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link:hover a #icon-general {
  fill: #ffffff;
}

#sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link_end {
  height: 20px;
  background-color: #000000;
}

@media (max-width: 767px) {
  #sidebar_hide.sidebar .sidebar-nav ul.sidebar-list_main .sidebar-link_end {
    height: 5px;
  }
}

#sidebar_hide.sidebar .sidebar-manager__info {
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial;
  background-color: #000000;
  margin: 0;
  border-top: 1px solid #9f9f9f;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__header {
  color: #9f9f9f;
  font-size: 14px;
  padding: 15px 20px;
  text-align: center;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__status {
  padding: 5px;
  height: 50px;
  text-align: center;
  position: relative;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__status img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__status a {
  text-decoration: none;
  color: #56819f;
  position: relative;
  bottom: 15px;
  padding: 5px;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__status a:hover {
  color: #f58220;
}

#sidebar_hide.sidebar .sidebar-manager__info .manager__status .manager__online {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: #16dd44;
  position: absolute;
  top: 5px;
  left: 60px;
}

#sidebar_hide.sidebar .sidebar-topbar_background {
  background-color: #000000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu {
  margin: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item {
  width: 100%;
  text-align: center;
  height: 40px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item:hover {
  opacity: 0.8;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item:hover a {
  color: #ffffff;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item:hover i {
  color: #ffffff;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item i {
  color: #9f9f9f;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .wallet2 {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin: 0;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .wallet2 .money2 {
  font-size: 0.9em;
  font-weight: bold;
  width: auto;
  height: 40px;
  margin: 0;
  padding: 0 10px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .notification2 {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  position: relative;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .notification2 #icon-notification2 {
  fill: #9f9f9f;
  width: 25px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .notification2 .notification_alarm2 {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #f58220;
  position: absolute;
  top: 6px;
  left: 81px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2 {
  width: 100%;
  height: 40px;
  padding: 10px 0;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2:hover a {
  color: #f58220;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2:hover i {
  color: #ffffff;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2 i {
  color: #9f9f9f;
  font-size: 20px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .profile2 a {
  text-decoration: none;
  font-size: 14px;
  width: 130px;
  color: #56819f;
  padding: 0 5px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .quit2 {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  text-align: center;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .quit2 i {
  color: #9f9f9f;
  font-size: 20px;
}

#sidebar_hide.sidebar .sidebar-topbar_background #sidebar-topbar.sidebar-topbar__menu ul.sidebar-list_hidden li.sidebar-topbar__item .quit2 i:hover {
  color: #f58220;
}

.topbar-content_wrapper {
  width: 100%;
  margin: 0;
  display: block;
}

.topbar-content_wrapper .topbar {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, Arial;
  color: #9f9f9f;
  position: fixed;
  display: block;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.125);
}

.topbar-content_wrapper .topbar .topbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item {
  margin: 0;
  padding: 0;
  height: 50px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet {
  width: 160px;
  height: 50px;
  padding: 0 10px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet .money {
  font-size: 0.9em;
  font-weight: bold;
  width: auto;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet #icon-wallet {
  fill: #9f9f9f;
  width: 20px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .wallet #icon-arrow-down-sm {
  fill: #9f9f9f;
  width: 15px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .notification {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  position: relative;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .notification .notification_alarm {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: #f58220;
  position: absolute;
  top: 14px;
  left: 22px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .notification #icon-notification {
  fill: #9f9f9f;
  width: 20px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .profile {
  max-width: 180px;
  height: 50px;
  padding: 0 10px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .profile #icon-profile {
  fill: #9f9f9f;
  width: 20px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .profile a {
  text-decoration: none;
  font-size: 14px;
  width: 130px;
  color: #56819f;
  padding: 0 5px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .profile a:hover {
  color: #f58220;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .quit {
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .quit #icon-quit {
  fill: #9f9f9f;
  width: 20px;
}

.topbar-content_wrapper .topbar .topbar-list .topbar--item .quit #icon-quit:hover {
  fill: #f58220;
}

.topbar-content_wrapper .content {
  display: block;
  background-color: #dddddd;
  color: #9f9f9f;
  margin: 0;
  padding: 20px;
  /*  CONTENT GENERAL */
}

.topbar-content_wrapper .content.content-margin-high_open {
  margin: 50px 0 0 200px;
}

.topbar-content_wrapper .content.content-margin-law_open {
  margin: 0;
}

.topbar-content_wrapper .content.content-margin-high_hide {
  margin: 50px 0 0 0;
}

.topbar-content_wrapper .content.content--margin-law_hide {
  margin: 0;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content {
    margin: 0;
  }
}

.topbar-content_wrapper .content #content-links_import {
  margin-top: 20px;
}

.topbar-content_wrapper .content .content-general {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
  /* CONTENT DETAILS */
  /* CONTENT PAYOUT */
  /*  CONTENT LINKS */
  /*  CONTENT PERSONAL DATA */
}

.topbar-content_wrapper .content .content-general .content-general__header h1 {
  color: #9f9f9f;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px;
  margin: 0;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-general__header h1 {
    font-size: 16px;
  }
}

.topbar-content_wrapper .content .content-general .content-general__header:after {
  content: "";
  border-top: 1px solid #dddddd;
  display: block;
}

.topbar-content_wrapper .content .content-general .content-general__date {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  min-height: 50px;
  margin: 0;
  padding: 50px 0;
  background-color: #ffffff;
  width: 100%;
}

.topbar-content_wrapper .content .content-general .content-general__date form {
  display: flex;
  padding: 10px 10px 10px 0;
  border: 1px solid #dddddd;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-general__date form {
    width: 100%;
  }
}

.topbar-content_wrapper .content .content-general .content-general__date form input {
  border: none;
  margin: 0;
  width: 50%;
  padding-left: 20px;
  height: 30px;
  font-size: 16px;
  color: #9f9f9f;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-general__date form input {
    text-align: center;
    font-size: 12px;
  }
}

.topbar-content_wrapper .content .content-general .content-general__date form input:nth-of-type(2) {
  border-left: 1px solid #dddddd;
}

.topbar-content_wrapper .content .content-general .content-general__date form #icon_date {
  width: 30px;
  height: 30px;
  fill: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-general__date .button-refresh {
  width: 45px;
  height: 45px;
  background-color: #f58220;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: auto 15px;
}

.topbar-content_wrapper .content .content-general .content-general__date .button-refresh:hover {
  opacity: 0.7;
}

.topbar-content_wrapper .content .content-general .content-general__date .button-refresh #icon-refresh {
  fill: #dddddd;
  width: 50%;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-general__date .button-refresh {
    margin: auto;
  }
}

.topbar-content_wrapper .content .content-general .content-wrapper {
  padding: 25px;
  width: 100%;
}

@media (max-width: 400px) {
  .topbar-content_wrapper .content .content-general .content-wrapper {
    padding: 20px 3px;
  }
}

.topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters {
    padding: 20px 5%;
    font-size: 12px;
  }
}

@media (min-width: 401px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters {
    padding: 20px 15%;
  }
}

@media (min-width: 768px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters {
    padding: 20px 20%;
  }
}

@media (min-width: 992px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters {
    padding: 20px 30%;
  }
}

.topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters .counter {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters .counter {
    width: 100%;
  }
}

.topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters .counter h4,
.topbar-content_wrapper .content .content-general .content-wrapper .content-general_counters .counter p {
  margin: 0;
  padding: 0;
}

.topbar-content_wrapper .content .content-general .content-wrapper .content-general__chart {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general__chart {
    padding: 0 5px;
  }
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-wrapper .content-general__chart .general-chart_header h4 {
    font-size: 14px;
    padding: 0;
  }
}

.topbar-content_wrapper .content .content-general .content-details__table {
  padding: 30px 15px;
  overflow-x: auto;
}

.topbar-content_wrapper .content .content-general .content-details__table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.topbar-content_wrapper .content .content-general .content-details__table table tr.onhover:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.topbar-content_wrapper .content .content-general .content-details__table table td {
  color: #000000;
}

.topbar-content_wrapper .content .content-general .content-details__table table th:hover {
  color: #000000;
  background-color: #f5f5f5;
}

.topbar-content_wrapper .content .content-general .content-details__table table th:hover i {
  visibility: visible;
}

.topbar-content_wrapper .content .content-general .content-details__table table th i {
  color: #dddddd;
  font-size: 10px;
  visibility: hidden;
}

.topbar-content_wrapper .content .content-general .content-details__table table td,
.topbar-content_wrapper .content .content-general .content-details__table table th {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.topbar-content_wrapper .content .content-general .content-details__table .content-details__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 30px 0 0;
  margin: 0 auto;
}

.topbar-content_wrapper .content .content-general .content-details__table .content-details__pagination a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #56819f;
}

.topbar-content_wrapper .content .content-general .content-details__table .content-details__pagination a:hover {
  background-color: #f5f5f5;
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-details__table .content-details__pagination a i {
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-details__table .content-details__pagination a.active {
  background-color: #dddddd;
  padding: 8px 16px;
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-payout__table {
  padding: 30px 15px;
  overflow-x: auto;
  width: 100%;
}

.topbar-content_wrapper .content .content-general .content-payout__table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.topbar-content_wrapper .content .content-general .content-payout__table table tr.onhover:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.topbar-content_wrapper .content .content-general .content-payout__table table td {
  color: #000000;
}

.topbar-content_wrapper .content .content-general .content-payout__table table td.last_column,
.topbar-content_wrapper .content .content-general .content-payout__table table th.last_column {
  width: 15%;
}

.topbar-content_wrapper .content .content-general .content-payout__table table th:hover {
  color: #000000;
  background-color: #f5f5f5;
}

.topbar-content_wrapper .content .content-general .content-payout__table table th:hover i {
  visibility: visible;
}

.topbar-content_wrapper .content .content-general .content-payout__table table th i {
  color: #dddddd;
  font-size: 10px;
  visibility: hidden;
}

.topbar-content_wrapper .content .content-general .content-payout__table table td,
.topbar-content_wrapper .content .content-general .content-payout__table table th {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.topbar-content_wrapper .content .content-general .content-payout__table .content-payout__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 30px 0 0;
  margin: 0 auto;
}

.topbar-content_wrapper .content .content-general .content-payout__table .content-payout__pagination a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #56819f;
}

.topbar-content_wrapper .content .content-general .content-payout__table .content-payout__pagination a:hover {
  background-color: #f5f5f5;
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-payout__table .content-payout__pagination a i {
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-payout__table .content-payout__pagination a.active {
  background-color: #dddddd;
  padding: 8px 16px;
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-links-banners {
  display: block;
  width: 100%;
  padding: 40px 5%;
  justify-content: center;
  text-align: center;
  overflow-x: auto;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-links-banners {
    padding: 20px 1%;
  }
}

.topbar-content_wrapper .content .content-general .content-links-banners button {
  height: 40px;
  width: 100px;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #f58220;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-links-banners button {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }
}

.topbar-content_wrapper .content .content-general .content-links-banners button:hover {
  opacity: 0.8;
}

.topbar-content_wrapper .content .content-general .content-links-banners table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  overflow-x: auto;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: flex-start;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr th {
  width: 40%;
  text-align: left;
  padding-left: 15px;
  color: #9f9f9f;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr:hover {
  background-color: #f5f5f5;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr:hover a {
  color: #f58220;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr:hover a #icon-links {
  fill: #f58220;
  visibility: visible;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr:hover #icon-quit {
  visibility: visible;
  cursor: pointer;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr td a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  color: #56819f;
  margin-left: 20px;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr td a #icon-links {
  margin: 0 20px;
  width: 17px;
  height: 17px;
  fill: #9f9f9f;
  visibility: hidden;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr td #icon-quit {
  width: 17px;
  height: 17px;
  fill: #9f9f9f;
  visibility: hidden;
  margin-right: 20px;
}

.topbar-content_wrapper .content .content-general .content-links-banners table tr td #icon-quit:hover {
  fill: #f58220;
}

.topbar-content_wrapper .content .content-general .content-personaldata {
  display: block;
  text-align: center;
  width: 100%;
  padding: 20px 0 0;
  margin: 0;
}

.topbar-content_wrapper .content .content-general .content-personaldata form {
  display: block;
  width: 100%;
}

.topbar-content_wrapper .content .content-general .content-personaldata form:after {
  content: "";
  border-bottom: 1px solid #dddddd;
  display: block;
  margin-top: 30px;
}

.topbar-content_wrapper .content .content-general .content-personaldata form .field {
  margin: 30px 0;
  width: 100%;
}

.topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 15%;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper {
    font-size: 12px;
    width: 100%;
    padding: 10px 30%;
  }
}

.topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper label {
  padding: 10px 0;
  width: 40%;
  color: #9f9f9f;
  font-weight: bold;
  text-align: left;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper label {
    width: 100%;
  }
}

.topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper input {
  width: 60%;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  outline: none;
  height: 40px;
}

@media (max-width: 767px) {
  .topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper input {
    width: 100%;
  }
}

.topbar-content_wrapper .content .content-general .content-personaldata form .field .field-input_wrapper:focus {
  box-shadow: 0 0 5px #ffa200;
}

.topbar-content_wrapper .content .content-general .btn-personaldata {
  padding: 30px 0;
}

.topbar-content_wrapper .content .content-general .btn-personaldata button {
  height: 40px;
  width: 100px;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #f58220;
}

.topbar-content_wrapper .content .content-general .btn-personaldata button:hover {
  opacity: 0.8;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

#modalLogin, #modalLogin_two {
  display: none;
  position: fixed;
  z-index: 19950;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.349);
}

#modalLogin .modal-content, #modalLogin_two .modal-content {
  margin: 10% auto;
  padding: 20px 0 0;
  background-color: #FFF;
  width: 40%;
  position: relative;
  display: block;
}

@media (max-width: 767px) {
  #modalLogin .modal-content, #modalLogin_two .modal-content {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #modalLogin .modal-content, #modalLogin_two .modal-content {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #modalLogin .modal-content, #modalLogin_two .modal-content {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  #modalLogin .modal-content, #modalLogin_two .modal-content {
    width: 40%;
  }
}

#modalLogin .modal-content .modal-header:after, #modalLogin_two .modal-content .modal-header:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dddddd;
}

#modalLogin .modal-content .modal-header span, #modalLogin_two .modal-content .modal-header span {
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 26px;
  cursor: pointer;
  color: #9f9f9f;
  display: block;
}

#modalLogin .modal-content .modal-header span:hover, #modalLogin_two .modal-content .modal-header span:hover {
  color: #f58220;
}

#modalLogin .modal-content .modal-header h4, #modalLogin_two .modal-content .modal-header h4 {
  margin: 0;
  color: #9f9f9f;
  padding: 0 20px 15px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial;
}

#modalLogin .modal-content .modal-body, #modalLogin_two .modal-content .modal-body {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
}

#modalLogin .modal-content .modal-body input, #modalLogin_two .modal-content .modal-body input {
  color: #9f9f9f;
  opacity: 0.8;
}

@media (max-width: 767px) {
  #modalLogin .modal-content .modal-body input, #modalLogin_two .modal-content .modal-body input {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #modalLogin .modal-content .modal-body input, #modalLogin_two .modal-content .modal-body input {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  #modalLogin .modal-content .modal-body input, #modalLogin_two .modal-content .modal-body input {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  #modalLogin .modal-content .modal-body input, #modalLogin_two .modal-content .modal-body input {
    font-size: 16px;
  }
}

#modalLogin .modal-content .modal-body .input-user, #modalLogin_two .modal-content .modal-body .input-user {
  position: relative;
  margin-right: 10px;
}

#modalLogin .modal-content .modal-body .input-user #user-name, #modalLogin .modal-content .modal-body .input-user #user-name_two, #modalLogin_two .modal-content .modal-body .input-user #user-name, #modalLogin_two .modal-content .modal-body .input-user #user-name_two {
  outline: none;
  border: 1px solid #dddddd;
  height: 35px;
  width: 100%;
  padding-left: 40px;
}

#modalLogin .modal-content .modal-body .input-user #user-name:focus, #modalLogin .modal-content .modal-body .input-user #user-name_two:focus, #modalLogin_two .modal-content .modal-body .input-user #user-name:focus, #modalLogin_two .modal-content .modal-body .input-user #user-name_two:focus {
  border-color: #f58220;
}

#modalLogin .modal-content .modal-body .input-user #icon-user, #modalLogin_two .modal-content .modal-body .input-user #icon-user {
  position: absolute;
  fill: #9f9f9f;
  height: 20px;
  width: 20px;
  top: 11px;
  left: 5px;
}

#modalLogin .modal-content .modal-body .input-password, #modalLogin_two .modal-content .modal-body .input-password {
  position: relative;
  margin-right: 10px;
}

#modalLogin .modal-content .modal-body .input-password #user-pwr, #modalLogin .modal-content .modal-body .input-password #user-pwr_two, #modalLogin_two .modal-content .modal-body .input-password #user-pwr, #modalLogin_two .modal-content .modal-body .input-password #user-pwr_two {
  outline: none;
  border: 1px solid #dddddd;
  height: 35px;
  width: 100%;
  padding-left: 40px;
}

#modalLogin .modal-content .modal-body .input-password #user-pwr:focus, #modalLogin .modal-content .modal-body .input-password #user-pwr_two:focus, #modalLogin_two .modal-content .modal-body .input-password #user-pwr:focus, #modalLogin_two .modal-content .modal-body .input-password #user-pwr_two:focus {
  border-color: #f58220;
}

#modalLogin .modal-content .modal-body .input-password #icon-password, #modalLogin_two .modal-content .modal-body .input-password #icon-password {
  position: absolute;
  fill: #9f9f9f;
  height: 20px;
  width: 25px;
  top: 11px;
  left: 3px;
}

#modalLogin .modal-content .modal-body button, #modalLogin_two .modal-content .modal-body button {
  outline: none;
  background-color: #f58220;
  border: none;
  width: 20%;
  border-radius: 3px;
  color: #ffffff;
}

@media (max-width: 767px) {
  #modalLogin .modal-content .modal-body button, #modalLogin_two .modal-content .modal-body button {
    font-size: 12px;
    height: 25px;
    margin: auto 0;
  }
}

@media (min-width: 768px) {
  #modalLogin .modal-content .modal-body button, #modalLogin_two .modal-content .modal-body button {
    font-size: 12px;
    height: 30px;
    margin: auto 0;
  }
}

@media (min-width: 992px) {
  #modalLogin .modal-content .modal-body button, #modalLogin_two .modal-content .modal-body button {
    font-size: 14px;
    height: 35px;
  }
}

@media (min-width: 1200px) {
  #modalLogin .modal-content .modal-body button, #modalLogin_two .modal-content .modal-body button {
    font-size: 14px;
    height: 35px;
  }
}

#modalLogin .modal-content .modal-body button:hover, #modalLogin_two .modal-content .modal-body button:hover {
  opacity: 0.8;
}

#modalLogin .modal-content .modal-footer h4, #modalLogin_two .modal-content .modal-footer h4 {
  margin: 0;
  color: #9f9f9f;
  padding: 0 20px;
}

#modalQuit, #modalQuit_two {
  display: none;
  position: fixed;
  z-index: 19950;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#modalQuit .modal-content, #modalQuit_two .modal-content {
  margin: 10% auto;
  padding: 0;
  background-color: #FFF;
  width: 25%;
  position: relative;
  display: block;
}

@media (max-width: 767px) {
  #modalQuit .modal-content, #modalQuit_two .modal-content {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #modalQuit .modal-content, #modalQuit_two .modal-content {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #modalQuit .modal-content, #modalQuit_two .modal-content {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  #modalQuit .modal-content, #modalQuit_two .modal-content {
    width: 25%;
  }
}

#modalQuit .modal-content .modal-header, #modalQuit_two .modal-content .modal-header {
  margin: 0;
}

#modalQuit .modal-content .modal-header:after, #modalQuit_two .modal-content .modal-header:after {
  content: "";
  display: block;
  border-bottom: 1px solid #dddddd;
}

#modalQuit .modal-content .modal-header h4, #modalQuit_two .modal-content .modal-header h4 {
  margin: 0;
  color: #9f9f9f;
  padding: 25px;
  font-weight: normal;
  font-family: "Open Sans", Helvetica, Arial;
}

@media (max-width: 767px) {
  #modalQuit .modal-content .modal-header h4, #modalQuit_two .modal-content .modal-header h4 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  #modalQuit .modal-content .modal-header h4, #modalQuit_two .modal-content .modal-header h4 {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #modalQuit .modal-content .modal-header h4, #modalQuit_two .modal-content .modal-header h4 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  #modalQuit .modal-content .modal-header h4, #modalQuit_two .modal-content .modal-header h4 {
    font-size: 18px;
  }
}

#modalQuit .modal-content .modal-body, #modalQuit_two .modal-content .modal-body {
  padding: 25px 20px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  #modalQuit .modal-content .modal-body, #modalQuit_two .modal-content .modal-body {
    flex-wrap: wrap;
  }
}

#modalQuit .modal-content .modal-body #quitCancelBtn, #modalQuit .modal-content .modal-body #quitCancelBtn_two, #modalQuit_two .modal-content .modal-body #quitCancelBtn, #modalQuit_two .modal-content .modal-body #quitCancelBtn_two {
  background-color: #9f9f9f;
  color: #ffffff;
  margin-right: 10px;
}

#modalQuit .modal-content .modal-body #quitButton, #modalQuit .modal-content .modal-body #quitButton_two, #modalQuit_two .modal-content .modal-body #quitButton, #modalQuit_two .modal-content .modal-body #quitButton_two {
  background-color: #f58220;
  color: #ffffff;
}

#modalQuit .modal-content .modal-body button, #modalQuit_two .modal-content .modal-body button {
  outline: none;
  border: none;
  height: 40px;
  width: 30%;
  border-radius: 3px;
  color: #ffffff;
}

@media (max-width: 767px) {
  #modalQuit .modal-content .modal-body button, #modalQuit_two .modal-content .modal-body button {
    height: 30px;
    width: 25%;
    font-size: 100%;
    padding: 2px;
  }
}

#modalQuit .modal-content .modal-body button:hover, #modalQuit_two .modal-content .modal-body button:hover {
  opacity: 0.8;
}

#modalQuit .modal-content .modal-footer h4, #modalQuit_two .modal-content .modal-footer h4 {
  margin: 0;
  color: #9f9f9f;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#hamburger-menu__hiden {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  position: fixed;
}

@media (min-width: 768px) {
  #hamburger-menu__hiden {
    left: 15px;
    top: 0;
    z-index: 5;
  }
}

#hamburger-menu__hiden a {
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  margin: 0;
  position: relative;
  top: 5px;
  left: 0px;
}

#hamburger-menu__hiden a .img_hamburger {
  height: 40px;
  width: 50px;
  position: relative;
  left: 0;
  filter: invert(0.4);
}

#hamburger-menu__hiden a .img_hamburger:hover {
  filter: invert(0.6);
}

/*# sourceMappingURL=style.css.map */