.content {
  display: block;
  margin: 50px 0 0 200px;
  padding: 20px;
  background-color: $border-edge_color;
  color: $font-icon_color;
  #content-links_import {
    margin-top: 20px;
  }

/*  CONTENT GENERAL */

  .content-general {
    background-color: $content-background_color;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .125);
    .content-general__header {
      h1 {
        color: $font-icon_color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 20px;
        margin: 0;
      }
      &:after {
        content: "";
        border-top: $border-style;
        display: block;
      }
    }
    .content-general__date {
      display: flex;
      flex-wrap: wrap;
      @extend .flex-center;
      border-top: 1px solid $border-edge_color;
      border-bottom: $border-style;
      min-height: 50px;
      margin: 0;
      padding: 50px 0;
      background-color: $content-background_color;
      width: 100%;
      form {
        display: flex;
        padding: 10px 10px 10px 0;
        border: $border-style;
        @extend .flex-center;
        input {
          border: none;
          margin: 0;
          width: 50%;
          padding-left: 20px;
          height: 30px;
          font-size: 16px;
          color: $font-icon_color;
          &:nth-of-type(2) {
            border-left: $border-style;
          }
        }
        #icon_date {
          width: 30px;
          height: 30px;
          fill: $font-icon_color;
        }
      }
      .button-refresh {
        width: 45px;
        height: 45px;
        background-color: $active-refresh_color;
        border: none;
        border-radius: 5px;
        outline: none;
        margin: auto 15px;
        &:hover {
          opacity: 0.7;
        }
        #icon-refresh {
          fill: $border-edge_color;
          width: 50%;
        }
      }
    }
    .content-wrapper {
      padding: 25px;
      width: 100%;
      .content-general_counters {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 25%;
        .counter {
          min-width: 50%;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          h4,
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
      .content-general__chart {
        width: 100%;
        margin: 0 auto;
        padding: 0 10%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

/*  CONTENT LINKS */

    .content-links {
      display: block;
      width: 100%;
      padding: 25px 15%;
      justify-content: center;
      text-align: center;
      button {
        height: 40px;
        width: 100px;
        margin: 0 auto;
        outline: none;
        border: none;
        color: $font-hover_color;
        border-radius: 3px;
        background-color: $active-refresh_color;
        &:hover {
          opacity: 0.8;
        }
      }
      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        tr {
          border-bottom: $border-style;
          border-top: $border-style;
          display: flex;
          justify-content: flex-start;
          th {
            width: 40%;
            text-align: left;
            padding-left: 15px;
            color: $font-icon_color;
          }
          &:hover {
            background-color: $border-edge_color;
            a {
              color: $active-refresh_color;
              #icon-links {
                fill: $active-refresh_color;
                visibility: visible;
              }
            }
            #icon-trash {
              visibility: visible;
              cursor: pointer;
            }
          }
          td {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            a {
              display: flex;
              justify-content: space-between;
              text-decoration: none;
              width: 100%;
              color: $profile-link_color;
              margin-left: 20px;
              #icon-links {
                margin: 0 20px;
                width: 17px;
                height: 17px;
                fill: $font-icon_color;
                visibility: hidden;
              }
            }
            #icon-trash {
              width: 17px;
              height: 17px;
              fill: $font-icon_color;
              visibility: hidden;
              margin-right: 20px;
              &:hover {
                fill: $active-refresh_color;
              }
            }
          }
        }
      }
    }

/*  CONTENT PERSONAL DATA */

    .content-personaldata {
      display: block;
      text-align: center;
      width: 100%;
      padding: 20px 0 0;
      margin: 0;
      form {
        display: block;
        width: 100%;
        &:after {
          content: "";
          border-bottom: $border-style;
          display: block;
          margin-top: 30px;
        }
        .field {
          margin: 30px auto;
          width: 40%;
          div {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            label {
              padding: 10px 0;
              width: 40%;
              color: $font-icon_color;
              font-weight: bold;
              text-align: left;
            }
            input {
              width: 60%;
              padding: 10px 20px;
              border: $border-style;
            }
          }
        }
      }
      .btn-personaldata {
        padding: 30px 0;
        button {
          height: 40px;
          width: 100px;
          margin: 0 auto;
          outline: none;
          border: none;
          color: $font-hover_color;
          border-radius: 3px;
          background-color: $active-refresh_color;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}