.content {
  display: block;
  margin: 50px 0 0 200px;
  padding: 20px;
  background-color: $border-edge_color;
  color: $font-icon_color;
  #content-links_import {
    margin-top: 20px;
  }
  .content-general {
    background-color: $content-background_color;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .125);
    .content-general__header {
      h1 {
        color: $font-icon_color;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 20px;
        margin: 0;
      }
    }
    .content-general__date {
      display: flex;
      flex-wrap: wrap;
      @extend .flex-center;
      border-top: 2px solid $border-edge_color;
      border-bottom: 2px solid $border-edge_color;
      min-height: 50px;
      margin: 0;
      padding: 50px 0;
      background-color: $content-background_color;
      width: 100%;
      form {
        display: flex; // flex-wrap: wrap;
        padding: 10px 10px 10px 0;
        border: 2px solid $border-edge_color;
        @extend .flex-center; // margin-bottom: 10px;
        input {
          border: none;
          margin: 0;
          width: 50%;
          padding-left: 20px;
          height: 30px;
          font-size: 16px;
          color: $font-icon_color;
          &:nth-of-type(2) {
            border-left: 2px solid $border-edge_color;
          }
        }
        #icon_date {
          width: 30px;
          height: 30px;
          fill: $font-icon_color;
        }
      }
      .button-refresh {
        width: 45px;
        height: 45px;
        background-color: $active-refresh_color;
        border: none;
        border-radius: 5px;
        outline: none;
        margin: auto 15px; // margin-left: 15px;
        &:hover {
          opacity: 0.7;
        }
        #icon-refresh {
          fill: $border-edge_color;
          width: 50%;
        }
      }
    }
    .content-wrapper {
      padding: 25px;
      width: 100%;
      .content-general_counters {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 20%;
       
        .counter {
          min-width: 50%;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          h4, p {
            margin: 0;
            padding: 0;
          }
          p {
            justify-items: flex-end;
          }
          h4 {
            justify-items: flex-start;
          }
        }
      }
      .content-general__chart {
        width: 100%;
        margin: 0 auto;
        padding: 0 10%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}