* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: $border-edge_color;
  font-family: $brand-font;
  position: relative;
}

.home {
  li.home {
    background-color: $button-hover_color;
    height: 50px;
    margin: 0;
    width: 195px;
    opacity: 0.8;
    z-index: 6;
    color: $font-hover_color;
    &:before{
      content:"";
      position:absolute;
      background-color: $home-edge_color;
      width: 5px;
      height:100%;
      left:0;
      top:0;
    }
  }
}
