/* Colors */
$paragraph-color: #000000;
$font-hover_color: #ffffff;
$content-background_color: #ffffff;
$sidebar-button_color: #000000;
$font-icon_color: #9f9f9f;
$active-refresh_color:  #f58220;
$border-edge_color:  #e2e1e1;
$profile-link_color: #56819f;
$online-status_color: #16dd44;
$button-hover_color: #555555;
$home-edge_color: #ffa200;
/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$border-style:  1px solid $border-edge-color;

/* massages */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-left-edge {
  border-left: 1px solid $border-edge-color;
}
