/* Colors */
$paragraph-color: #000000;
$brand-main-color: #f58220;
$button-font-color: #fff;
$sidebar-button--color: #000000;
$active-refresh-color:  #ffa200;
$icon-background-color: #a6a6a6;
$profile-link-color: #56819f;
$border-edge-color:  #F2F2F2;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* massages */

.flex-center {
  display: flex;
  align-items: center;
}

.border-left-edge {
  border-left: 2px solid $border-edge-color;
}
