@import "variables";
@import "mixins";
@import "layout"; // @import "_normalize";

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.topbar {
  height: 50px;
  // width: 100%;
  background-color: #fff;
  margin: 0 0 0 160px;
  font-family: $brand-font;
  color: $icon-background-color;

  .topbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;

    .topbar--item {
      margin: 0;
      padding: 0;
      height: 50px;
      @extend .flex-center;

      .wallet {
        width: 160px;
        height: 50px;
        @extend .flex-center;
        @extend .border-left-edge;
        padding: 0 10px;

        .money {
          font-size: 0.9em;
          font-weight: bold;
          width: auto;
          height: 50px;
          margin: 0 auto;
          @extend .flex-center;
          padding: 0 10px;
        }

        #icon-wallet {
          fill: $icon-background-color;
          width: 20px;
        }

        #icon-arrow-down-sm {
          fill: $icon-background-color;
          width: 15px;
        }
      }

      .notification {
        width: 50px;
        height: 50px;
        @extend .flex-center;
        @extend .border-left-edge;
        padding: 0 10px;
        &::before {
            content: '\2022';
            color: $active-refresh-color;
            // border-radius: 50%;
            font-size: 22px;
            // width: 8px;
            // display: block;
            position: relative;
            top: -6px;
            left: 18px;
          }
        #icon-notification {
          fill: $icon-background-color;
          width: 30px;

        }


      }

      .profile {
        max-width: 180px;
        height: 50px;
        @extend .flex-center;
        @extend .border-left-edge;
        padding: 0 10px;

        #icon-profile {
          fill: $icon-background-color;
          width: 20px;
        }

        a {
          text-decoration: none;
          font-size: 14px;
          width: 130px;
          color: $profile-link-color;
          padding: 0 5px;

          &:hover {
            color: $active-refresh-color;
          }
        }
      }

      .quit {
        width: 50px;
        height: 50px;
        @extend .flex-center;
        @extend .border-left-edge;
        padding-left: 20px;

        #icon-quit {
          fill: $icon-background-color;
          width: 20px;
          &:hover {
            fill: $active-refresh-color;
          }
        }
      }
    }
  }
}

.menu {
  background-color: $sidebar-button--color;
  width: 160px;
  height: 50px;
  display: inline-block;

  a {
    .hamburger-menu {
      width: 30px;
      height: 30px;
      background-color: $icon-background-color;
      margin: 0 0 0 auto;
      position: relative;
      top: -45px;

      .img_hamburger {
        height: 30px;
        width: 30px;
      }
      &:hover {
        background-color: $button-font-color;
      }
    }


  }

  .img_logo {
    width: 130px;
    height: 50px;
  }
}

.sidebar {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar-link {
    background-color: $sidebar-button--color;
    display: inline-block;
    width: 160px;
    text-align: left;

    &:hover {
      opacity: 0.7;
      // color: $button-font-color;
    }
  }

  ul li:hover {
    border-left: 5px solid $active-refresh-color;
  }

  ul li a {
    text-decoration: none;
    font-family: $brand-font;
    color: $icon-background-color;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    padding-left: 15px;

    &:hover {
      color: $button-font-color;
    }
  }

  ul li #icon-general {
    fill: $icon-background-color;
    width: 20px;
    line-height: 40px;
    text-align: center;

    &:hover {
      fill: $button-font-color;
    }
  }
}

.sidebar-manager__info {
  width: 160px;
  height: 100%;
  font-family: $brand-font;
  background-color: $sidebar-button--color;
  // @extend .flex-center;
  margin: 0;

  .manager__header {
    color: $icon-background-color;
    font-size: 14px;
    padding: 20px;
  }

  .manager__status {
    padding: 5px;
    line-height: 60px;
    text-align: center;
    position: relative;

    img {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border-radius: 50%;
    }

    a {
      text-decoration: none;
      color: $profile-link-color;
      position: relative;
      bottom: 15px;
      padding: 5px;

      &:hover {
        color: $active-refresh-color;
      }
    }

    .manager__online {
      border-radius: 50%;
      height: 12px;
      width: 12px;
      background-color: #16dd44;
      position: absolute;
      top: 4px;
      left: 39px;
    }
  }
}

// refresh buttons

.button-refresh {
  width: 50px;
  height: 50px;
  background-color: $brand-main-color;
  border: none;
  border-radius: 5px;
  #icon-refresh {
    fill: $border-edge-color;
    width: 25px;
  }

}
