@import "variables";
@import "mixins";
@import "layout"; // @import "_normalize";
@import "components/sidebar";
@import "components/topbar";

// CONTENT SECTION
.content {
  position: absolute;
  top: 50px;
  left: 180px;
.general-content--header {
  color: $icon-background-color;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
// counter SECTION

.counters {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .counter {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    .counter-label {
      color: $icon-background-color;
      font-size: $paragraph-font-size;
    }
  }
}
// refresh button

.button-refresh {
  width: 50px;
  height: 50px;
  background-color: $brand-main-color;
  border: none;
  border-radius: 5px;
  outline: none;

  &:hover {
    opacity: 0.7;
  }

  #icon-refresh {
    fill: $border-edge-color;
    width: 25px;
  }
}
// period checker date-input

.date-input {
  @extend .flex-center;
  border: 1px solid $border-edge-color;
  height: 50px;
  width: 40%;
  margin: 0;
  padding: 5px;
  background-color: #ffffff;

  input {
    border: none;
    margin: 0;
    width: 45%;
    padding: 0 5px;
    height: 40px;
    font-size: 14px;
  }

  #icon_date {
    width: 10%;
    height: 25px;
    fill: $icon-background-color;
  }
}
}
